body{
    display: flex;
    flex-direction: column;
    background-color: #f0f8ff;;
    background: url('../imgs/background.png');
}

.game-nav{
    height:100px;
}

.game-header{
    width:90%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color:lightgrey;
    opacity:0.9;
    border-radius: 5px;
}

.time{
    display: flex;
    align-items: center;
    align-content: center;
}

.pyramid{
    margin-right:2rem;
}

i{
    font-size: 10rem;
    color:rgb(250, 122, 122);
    margin: 0 10px;
    -webkit-text-stroke: 5px white;
    ;
}

span{
    margin-left:2rem;
    font-size: 4.5rem;
    font-family: "Press Start 2P", cursive;
    -webkit-text-stroke: 2px #34eb7a;
    font-family: "Press Start 2P";
    color: grey;
    font-size: 50px;
    transition-duration: 1s;
}

.game-div{
    width: 90%;
    height: 800px;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.room-options{
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-room{
    width:80%;
    height: 800px;
    background-image: url('../imgs/entry.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 1s;
    outline: 5px solid lightgrey;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

#symbols{
    position: absolute;
    width:2.5rem;
    opacity: 0.5;
}

.entry,
.hall,
.sarco,
.stairs{
    height: 180px;
    margin-left: 20px;
    outline: 5px solid lightgrey;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.entry{
    background: url('../imgs/entry.jpg');
    background-size: cover;
}

.hall{
    background: url('../imgs/hall.jpg');
    background-size: cover;
}

.sarco{
    background: url('../imgs/sarcophagus.jpeg');
    background-size: cover;
}

.stairs{
    background: url('../imgs/stairs.jpg');
    background-size: cover;
}

.entry:hover,
.hall:hover,
.sarco:hover,
.stairs:hover{
    transform: scale(1.05);
}

.entry:active,
.hall:active,
.sarco:active,
.stairs:active{
    transform: scale(1);
}

div:focus{
    outline: 5px solid lightgreen;
}

.victorsDiv {
    position: absolute;
    top: 50%;
    left: 28%;
    display: none;
    justify-content: center;
    margin:auto;
    width:500px;
    background-color:white;
    border-radius: 5px;
    z-index: 9;
}

.loserDiv {
    position: absolute;
    top: 50%;
    left: 28%;
    display: none;
    justify-content: center;
    flex-direction: column;
    margin:auto;
    width:500px;
    background-color:lightgrey;
    border-radius: 5px;
    z-index: 9;
    align-items: center;
    align-content: center;
}

.loserDiv > h2,
.loserButtons > h3 {
margin: 1rem;
padding: 1rem;
}

.victorsTable {
    background-color: lightgrey;
    border-radius: 5px;
    margin: 1rem;
    width: 100%;
}

th, td {
    margin: 1rem;
    text-align: center;
    padding: 1rem 0;
    border: 0.5px solid rgb(34, 34, 34);
}

th {
    font-weight: bold;
    font-size: 2rem;
}

td {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}